{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foodie - Chat Layout</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>    </script>
        <link rel="stylesheet" href ="{% static 'styles.css' %}" />

</head>
<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <h1>FOODIE</h1>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'my_recipes' %}">Recipes</a></li>
            <li><a href="{% url 'top_recipes' %}">TOP Recipes</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'delete_account' %}" >Delete Account</a></li>
        </ul>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <div class="chat-area">
            <h2>Chat with Foodie</h2> <!-- Pakeistas tekstas ir stilius -->
            <div class="chat-messages" id="chat-messages">
            </div>
        </div>
    </div>

</body>

<script id="recipes-data" type="application/json">
    {{ recipes_json|safe }}
</script>


<script>
    const recipes = JSON.parse(
        document.getElementById('recipes-data').textContent
    );
    const chatMessages = document.getElementById('chat-messages');

    const container = document.getElementById('recipes-container');

    recipes.forEach((recipe) => {
        const botMessage = document.createElement('div');
            botMessage.className = 'message bot';
            botMessage.innerHTML = `<strong>${recipe.name}</strong><br/>` +
                                `Cooking Time: ${recipe.cookingTime}<br/>` +
                                `<strong>Ingredients:</strong><br/>${recipe.ingredients.map(ing => `- ${ing}`).join('<br/>')}<br/>` +
                                `<strong>Instructions:</strong><br/>${recipe.instructions.map((inst, index) => `${index + 1}. ${inst}`).join('<br/>')}`;
                    
            const saveBtn = document.createElement('button');
            saveBtn.className = 'edit-button';
            saveBtn.textContent = 'Save as PDF';
            saveBtn.addEventListener('click', () => SaveRecipeAsPDF(botMessage));
            botMessage.appendChild(saveBtn);
            
            chatMessages.appendChild(botMessage);
    });

    function SaveRecipeAsPDF(messageElement) {
          const doc = new jsPDF();
          const text = messageElement.textContent;
  
          doc.setFontSize(8);
          doc.text(text, 10, 10);
          // force download
          doc.save('Recipe.pdf');
        }
</script>
</html>